#### Required Packages #####
tqdm
numpy<2.0.0
pandas
numba
matplotlib
seaborn
h5py
yattag
alphabase
pillow
tabulate
colorama
pyyaml

zarr
ome-zarr
tifffile
aicspylibczi

mahotas
shapely
rasterio
imagesize
imagecodecs
xarray
xarray-datatree
opencv-python
scikit-image>=0.22.0
scikit-fmm
scipy
cellpose

torch
pytorch-lightning
torchvision

lxml_html_clean
ashlar @ git+https://github.com/labsyspharm/ashlar.git@master
networkx
py-lmd @ git+https://github.com/MannLabs/py-lmd.git@refs/pull/11/head#egg=py-lmd
