tqdm
numpy<2.0.0
pandas
numba
matplotlib
seaborn
h5py
yattag
alphabase

zarr
ome-zarr
tifffile
aicspylibczi

mahotas
shapely
rasterio
imagesize
imagecodecs
xarray
xarray-datatree
opencv-python
scikit-image>=0.22.0
scikit-fmm
scipy
cellpose

torch
pytorch-lightning
torchvision

spatialdata
napari-spatialdata
pyqt5
lxml_html_clean
ashlar
networkx
py-lmd @ git+https://github.com/MannLabs/py-lmd.git@refs/pull/11/head#egg=py-lmd

#packages for building the documentation
sphinx
sphinx-argparse
sphinx-rtd-theme==2.0.0
nbsphinx
renku-sphinx-theme
