numpy<2.0.0
pandas
tabulate
colorama
matplotlib
tqdm
h5py
pyyaml
pillow
zarr
ome-zarr
alphabase
aicspylibczi
shapely
rasterio
imagesize
xarray
xarray-datatree
opencv-python
scikit-image>=0.22.0
scikit-fmm
cellpose
numba
torch
pytorch-lightning
torchvision
scipy
mahotas
spatialdata
napari-spatialdata
pyqt5
lxml_html_clean

#packages for building the documentation
sphinx
sphinx-argparse
sphinx-rtd-theme
nbsphinx
renku-sphinx-theme