tqdm
psutil
numba
h5py
alphabase
anndata
spatialdata>=0.3.0
py-lmd>=1.3.1

spatialdata-plot
matplotlib

tifffile
zarr
ome-zarr

scipy
scikit-image>=0.22.0
scikit-learn
mahotas

scikit-fmm #WGA segmentation
cellpose>=3.1.1,<4 #cellpose segmentation

torch
pytorch-lightning
torchvision
