sphinx
ipython
setuptools<81  # spatialdata -> xarray_schema currently imports pkg_resources
sphinx-argparse
sphinx-rtd-theme==2.0.0
nbsphinx
nbsphinx-link
sphinx-book-theme
sphinx-design
sphinx-copybutton
sphinx-gallery
