tqdm
psutil
numba
numpy
pandas
h5py
alphabase
anndata
spatialdata>=0.7.3
dask
xarray
pyarrow
py-lmd>=1.3.1
requests
filelock
PyYAML
deprecation

spatialdata-plot>=0.2.14
matplotlib
Pillow

tifffile
zarr
ome-zarr

scipy
scikit-image>=0.22.0
scikit-learn

cellpose>=3.1.1,<4 #cellpose segmentation

torch
pytorch-lightning
torchmetrics
torchvision
