name: Perform Unit Test

on:
  push:
    branches: [main]
  pull_request:
    types:
      - labeled
      - opened
      - synchronize

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install package
        run: |
          pip install uv
          uv pip install --system ".[tests, dev]"

      - name: Run pre-commit checks
        run: |
          pre-commit install
          pre-commit run --all-files

      - name: Test with pytest
        run: |
          pytest tests/unit_tests --maxfail=1 --disable-warnings -q
